<header><h1>Burger App</h1>
<section>
        <h2>Add your own burger here!</h2>
        <input placeholder="Describe your burger">
        <button>Create Burger</button>
    </section>
</header>
<main>
    <section>
        <h2>Undevoured</h2>
        <ul></ul>
    </section>
    <section>
        <h2>Devoured</h2>
        <ul></ul>    
    </section>
</main>


